/**************** 中间竖直连线 ****************/
@media screen and (max-width: 500px) {
  .mars3d-camera-content span{
    font-size:14px !important;
  }
 }
.mars3d-camera-content {
  /* 防止下面的line一直随img动画 */
  padding: 3px 16px 0 1px;
  margin: 0;
  color: #CCF7FF;
  background-color: rgba(4, 24, 34, 0.7);
  border: 1px solid rgba(101, 210, 230, 0.6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.mars3d-camera-content img {
  width: 28px;
  height: 28px;
  margin-right: 6px;
}

.mars3d-camera-content span {
  font-size: 16px;
  margin-top: 3px;
}

.mars3d-camera-line {
  height: 48px;
  width: 3px;
  border-left: 3px solid #2bcdbb;
  margin-left: calc(50% - 1px);
}

.mars3d-camera-point {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-left: calc(50% - 4px);
  background-color: #FFFFFF;
}

/**************** 带图片不带vr ****************/
.marsNoVRDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.marsNoVRDiv .label {
  color: #CCF7FF;
  font-size: 16px;
  background-color: rgba(4, 24, 34, 0.7);
  border: 1px solid #707070;
  padding: 6px 20px;
  text-align: center;
}

.marsNoVRDiv .box {
  /* text-align: center; */
  padding: 4px 4px 15px 4px;
  margin: 0;
  color: #fff;
  background: url("../img/mk_bg.png") no-repeat;
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marsNoVRDiv .box div {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.marsNoVRDiv .box div img {
  width: 100%;
  height: 100%;
}

.marsNoVRDiv .box .hidden {
  display:none;
}

.marsNoVRDiv .box .qj {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 21px;
}
